*{
    padding: 0;
    border: 0;
    margin: 0;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
:root{
    --heading-font: 'Roboto Slab', serif;
    --para-font: 'Barlow', sans-serif;
    --btn-font: 'Bubbler One', sans-serif;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --color:#2c292f;
    --head-color: #e0ac1c;
}
html{
    font-size: 62.5%;
    background-color: var(--color);
}
.container{
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content,100vh));
    background-color: var(--color);
    /* grid-template-areas: "page-1"; */
}
.page-1{
    /* background: sandybrown; */
    display: grid;
    grid-template-rows: 15fr 85fr;
    grid-template-areas:"nav-bar"
                        "home-content";
    /* grid-template-columns: minmax(1rem,1fr) minmax(min-content, 1100px) minmax(1rem, 1fr);
    grid-template-areas: ". main-page ."; */
   /* background: linear-gradient(to left, rgb(0, 0, 0) ,#1e84f8); */
   /* background: linear-gradient(to left, rgb(90, 230, 195) ,#1e84f8); */
   background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url("./home-background.webp");
   background-size: 100% 100%, cover;
   background-position: center;
   border-bottom: 1px dashed #ffff;
}

.hidden-panel{
    width: 100%;
    height: 35%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 0%;
    background: rgb(255, 255, 255);
    position: absolute;
}
.hidden-panel i{
    font-size: 3rem;
    color: var(--blue-color);
    float: right;
    position: relative;
    top: 1%;
    right: 6%;
    margin: 3rem 0rem;
}
.center{
    width: 100%;
    height: 50%;
    /* background: darkgreen; */
}
.hidden-panel .center ul{
    display: block;
    position: relative;
    top: 0%;
}
.hide{
    display: none;
    z-index: 0;
}
.hidden-panel .center ul li{
    text-decoration: none;
    display: block;
    font-size: 2.2rem;
    font-family: var(--para-font);
    letter-spacing: 0.3rem;
    padding: 2rem 7rem;
}
.hidden-panel .center ul li a{
    text-decoration: none;
    text-decoration-style: none;
    color: var(--blue-color);
}
.hidden-panel ul li a:hover{
    color: black;
    transition: 500ms all ease;
    cursor: pointer;
}

.hidden{
    animation: hidden-anim 2s ease;
    transform: translateY(-400px);
    opacity: 0;
}
@keyframes hidden-anim{
    from{
        transform: translateY(0px);
        opacity: 1;
    }
    to{
        transform: translateY(-400px);
        opacity: 0;
    }
}
.visible{
    z-index: 100;
    animation: anim 2s ease;
    transform: translateY(0px);
    opacity: 1;
}
@keyframes anim{
    from{
        transform: translateY(-400px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.nav-bar{
    grid-area: nav-bar;
    /* background: seagreen; */
    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-template-areas:" logo-area space";
}
.logo-area{
    padding-left: 3rem;
    flex-flow: column;
}
.logo-area>i{
  font-size: 5rem;
  color: gray;
}
.logo-area h3{
	color:  #ffffff;
	font: normal 2rem 'Cookie', cursive;
	margin: 0;
}

.logo-area h3 span{
	color:  #e0ac1c;
}

.ham-burger{
    /* background: red; */
    display: none;
}
.ham-burger img{
    position: fixed;
    top: 3%;
    right: 6%;
}

.space{
    width: 100%;
    /* background: lightseagreen; */
    font-family: var(--para-font);
    font-weight: var(--medium);
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.space ul{
    padding-right: 5rem;
}
.space ul li {
    display: inline-block;
    padding: 3rem 2.5rem;
    color: black;
    font-size: 2rem;
}
.space ul li a{
    text-decoration: none;
    text-decoration-style: none;
    color: var(--head-color);
}
.space ul li a:hover{transition: all 0.5s ease-in-out; color: rgba(255, 255, 255, 0.705); cursor: pointer;}

.space ul li >#home{
    font-weight: bolder;
    text-shadow: 0px 4px 1px var(--blue-color);
}

.home-content{
    /* background: lightcoral; */
    width: 100%;
    height: 100%;
    /* background-color: rgba(126, 126, 126, 0.445); */
    display: grid;
   grid-template-columns: 60fr 40fr;
}

.f1{
    width: 100%;
    height: 100%;
    display: grid;
    flex-flow: column;
    grid-template-rows: 20fr 80fr;
    grid-template-areas:"head-gap"
                        " AU ";   /* box-shadow: 5px 5px 5px  rgba(39, 39, 39, 0.52); */
    /* background-color: tomato; */
}

.AU{
    grid-area: AU;
    width: 100%;
    height: 100%;
}
.AU>h1{
    font-size: 5rem;
    letter-spacing: 2px;
    font-family: var(--heading-font);
    color: var(--head-color);
    padding: 3rem;
}
.AU>p{
    font-size: 1.8rem;
    text-align: justify;
    font-family: var(--para-font);
    padding: 0rem 3rem 3rem 3rem;
    color: #ffff;
    line-height: 1.8;
    /* margin-bottom: 15rem; */
}
.AU>button{
    padding: 0.6rem 2rem;
    margin-left: 3rem;
    font-family: var(--btn-font);
    font-size: 1.5rem;
    margin-top: 3rem;
    letter-spacing: 5px;
    word-spacing: 2px;
    background: transparent;
    color: #ffff;
    border: 1px solid #ffff;
}
.AU>button>i{
    font-size: 2rem;
    padding-left :15px;
}
.AU>button:hover{
    transition: all 500ms 0ms ease-in-out;
    animation: btn-anim 500ms 0ms ease;
    border: 1px solid black;
    color: #ffff;
    background-color: black;
    cursor: pointer;
    transition: 500ms all ease-in-out;
}
.AU>button:hover .arrow{
    animation: icon-anim 500ms 0ms ease;
    transform: rotate(90deg);
}
@keyframes btn-anim{
    from{
     color: rgb(0, 0, 0);
    }
    to{
    color: rgb(255, 255, 255);
    }
}
@keyframes icon-anim{
    from{
        /* transform: translateX(0px); */
        transform: rotate(0deg);
    }
    to{
        /* transform: translateX(20px); */
        transform: rotate(90deg);
    }
}
.f2{
    width: 100%;
    height: 100%;
   /* background-color: sienna; */
   /* background: linear-gradient(to left, rgb(90, 230, 195) ,#1e84f8); */
   /* box-shadow: 5px 5px 5px  rgba(39, 39, 39, 0.52); */
}
.f{
    display: grid;
    grid-template-rows: 0.1fr minmax(min-content, 1fr);
    grid-template-areas: " lets "
                         " forms ";
}
.lets{
    grid-area: lets;
    /* background-color: seagreen; */
    background-color: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

}
.lets>h1{
    font-size: 3.5rem;
    font-family: var(--heading-font);
    margin: 3rem 0rem 3rem 0rem;
    color: var(--head-color);
    letter-spacing: 3px;
}
.forms{
    grid-area: forms;
    width: 100%;
    height: 100%;
    /* background-color: goldenrod; */
    flex-flow: column;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.forms>input{
    width: 25rem;
    font-size: 1.8rem;
    background-color: transparent;
    border: 1px solid #ffff;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 1rem;
    padding: 1rem;
    font-family: var(--para-font);
}
.forms>input::placeholder{   color: rgb(255, 255, 255);}
.forms>input:focus { outline: none;}
.forms>textarea::placeholder{   color: rgb(255, 255, 255);}
.forms>textarea:focus{ outline: none;}
.send-button{
    font-size: 1.3rem;
    font-family: var(--para-font);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgb(255, 255, 255);
    padding: 0.5rem 8rem;
    margin-top: 2%;
    letter-spacing: 3px;
    cursor: pointer;
    border-radius: 5%;
    margin-bottom: 10%;
}
.send-button:hover{
    border: 2px solid black;
    color: #ffff;
    background-color: black;
    cursor: pointer;
    transition: 500ms all ease-in-out;
}

.forms>textarea{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgb(255, 255, 255);
    width: 25rem;
    font-size: 1.8rem;
    margin: 2rem;
    font-family: var(--para-font);
    padding: 1rem;
}
.copyright{
    grid-area: copyright;
    width: 100%;
    height: 100%;
    /* background-color: rgb(30, 129, 210); */
}
.social-icon-set{
    width: 100%;
    height: 100%;
}
.social-icon-set>a>i{
    color: black;
    font-size: 3rem;
    padding: 0rem 3rem 0rem 3rem;
}
.social-icon-set>a:hover{
    transition: all 500ms ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}


/* Page-2 */
.about-page{
    display: grid;
    grid-template-rows: 20fr 80fr;
    grid-template-areas: "about-heading"
                         "about-content";
    border-bottom: 1px dashed #ffff;
    
}
.about-heading{
    /* background: burlywood; */
   

    font-size: 5rem;
    font-weight:var(--medium);
    color:var(--head-color);
   font-family: var(--heading-font);
    letter-spacing: 8px;
    word-spacing: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-content{
    /* background: lightcoral; */
    display: grid;
    grid-template-columns: 45fr 55fr;
    grid-template-areas: "about-image about-innercontent";
}
.about-image{
    background:url("./man1-removebg-preview.png");
    background-size: 120% 80%;
    background-repeat: no-repeat;
    background-position-x: center;

}
.about-innercontent{
    /* background: lightgreen; */
    display: grid;
    grid-template-rows: 50fr 50fr;
    grid-template-areas: "innercontentHead" 
                        "innerCont";
}
.innercontentHead{
  

    font-size: 4rem;
    letter-spacing: 5px;
    color:var(--head-color);
    font-family: var(--heading-font);
    font-weight: var(--medium);
    position: relative;
    top: 25%;
    padding: 0rem 3rem;
   

}
.innercontentHead>p{
    margin-bottom: 5px;
    
}
/* .intro{
    color: var(--color);
} */
.innerCont{
    /* background: cyan; */
    text-align: justify;
    font-size: 2rem;
    font-family: var(--para-font);
    color:#ffff;
    line-height: 1.5;
}
.innerCont>p{
    margin-bottom: 20px;
    padding: 0rem 3rem;
    
}
.fadein{
    opacity: 1;
    transition: all 1s ease;
    transform: scale(1);


}
.fadeout{
    opacity: 0;
    transition: all 1s ease;
    transform: scale(0.5);

}

.changebordercolor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #3742fa;
    /* transform: translate(-50%, -50%); */
    pointer-events: none;

}
/* Page-3 */
.page-3{
    background-color: var(--color);
    display: grid;
    position: relative;
    top: 5%;
    grid-template-columns: minmax(min-content, 1100px) ;
    grid-template-rows: 15fr 85fr;
    grid-template-areas:
      " services-head "
      " services ";
}
.services-head{
    grid-area: services-head;
    width: 90%;
    height: 100%;
    position: relative;
    left: 5%;

}

.services-head>p{
    font-size: 5rem;
    font-weight:var(--medium);
    color:var(--head-color);
   font-family: var(--heading-font);
    letter-spacing: 8px;
    word-spacing: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.services{
    grid-area: services;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    /* background-color: rgba(126, 126, 126, 0.5); */
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;
}
.p{
    width: 80%;
    height: 90%;
    position: relative;
    left: 10%;
    background-color: rgba(66, 66, 66, 0.103);
    border: 1px dashed #ffff;
    box-shadow: 5px 5px 5px rgba(39, 39, 39, 0.52);
    flex-flow: column;
}
.p>.sub-head{
    position: relative;
    top: 40%;
    font-size: 2.5rem;
    font-family: var(--btn-font);
    text-align: center;
    letter-spacing: 8px;
    word-spacing: 4px;
    margin-bottom: 1rem;
    color: #ffff;
}
.hide-items{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    height: 80%;
    /* background-color: rgba(255, 140, 0, 0.322); */
    opacity: 0;
}
.icon-set{
    position: relative;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 80%;
    /* background-color: cyan; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.icon-set a i{
    font-size: 4rem;
    color: #ffff;
}
.icon-set>a>i:hover{ cursor: pointer; color: var(--head-color);}
.p:hover .hide-items{
    cursor: pointer;
    transition: all 400ms ease-in-out;
    animation: hov 500ms 0ms linear both;
    transform: translateY(-20px);
    opacity: 1;
}
.p:hover .sub-head{
    color: var(--head-color);
}
.p:hover{
    background: var(--color);
}
@keyframes hov{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.p1{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./electrical.jpg");
    background-size: 100% 100%, cover;
    background-position: center;
    background-repeat: no-repeat;
}
.p2{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./Mechanical.jpg");
    background-size: 100% 100%, cover;
    background-position: center;
    background-repeat: no-repeat;
}
.p3{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./circuit.jpg");
    background-size: 100% 100%, cover;
    background-position: center;
    background-repeat: no-repeat;
}
.p4{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("./Bio-Tech.jpg");
    background-size: 100% 100%, cover;
    background-position: center;
    background-repeat: no-repeat;
}
.p5{
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("./computer.jpg");
    background-size: 100% 100%, cover;
    background-position: center;
    background-repeat: no-repeat;
}
.p6{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./softwares.jpeg");
    background-size: 100% 100%, cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Page-4 */

footer{
    /* position: fixed; */
    margin-top: 20rem;
    border-top: 1px dashed #ffff;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
    font-family: var(--para-font);
    font-size: 1.6rem;
	padding: 50px 3rem;
	/* margin-top: 80px; */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
    vertical-align: top;
    
}

/* Footer left */
.footer-left>i{
    font-size: 4rem;
    color: gray;
}
.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 30px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left{
	width: 25%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-family: var(--para-font);
	font-size: 1.4rem;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 40%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	/* font-size: 25px; */
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	/* font-size: 17px; */
	line-height: 38px;
}
.footer-center>.centered>p{
    font-size: 17px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	/* font-size:14px; */
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 32%;
}

.footer-distributed .footer-company-about{
    line-height: 30px;
    font-family: var(--para-font);
	color:  #92999f;
	font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-company-about>a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 24px;
    font-weight: bold;
    font-family: var(--para-font);
    margin-top: 15px;
    margin-bottom: 10px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
    }
    .footer-distributed .footer-right{
        text-align: left;
    }
    .footer-distributed .footer-right .footer-icons{
        text-align: center;
    }
    .footer-distributed .footer-right .footer-icons a{
        margin: 0rem 1rem;
    }
}
/* Media Queries */
@media only screen and (max-width: 1310px){
.AU>h1{
    font-size: 4rem;
    letter-spacing: 2px;
    padding: 3rem;
}
}
@media only screen and (max-width: 1100px){
    .AU>h1{
        font-size: 3.5rem;
        letter-spacing: 2px;
        padding: 3rem;
    }
    }
@media only screen and (max-width: 975px){
    html{
        font-size: 55%;
    }
}
@media only screen and (max-width: 920px){
    .about-image{
        background:url("./man1-removebg-preview.png");
         /* background-size: 120% 80%; */
        background-repeat: no-repeat;
        background-position-x: center;
    }
}
@media only screen and (max-width: 870px){
    .AU>h1{
        font-size: 2.9rem;
        letter-spacing: 2px;
        padding: 3rem;
    }
    .AU>p{
        font-size: 1.6rem;
    }
    .AU>button{
        padding: 0.5rem 1.6rem;
        margin-left: 3rem;
        font-family: var(--btn-font);
        font-size: 1.3rem;
        margin-top: 1rem;
        letter-spacing: 2px;
        word-spacing: 0px;
    }
    .AU>button>i{
        font-size: 1.6rem;
        padding-left :15px;
    }
    .lets>h1{
        font-size: 2.9rem;
        margin: 3rem 0rem 3rem 0rem;
        letter-spacing: 3px;
    }
    .forms>input{
        width: 25rem;
        font-size: 1.6rem;
        margin: 1rem;
        padding: 1rem;
        font-family: var(--para-font);
    }
    .send-button{
        font-size: 1.2rem;
        padding: 0.5rem 8rem;
        margin-top: 2%;
        letter-spacing: 3px;
        cursor: pointer;
        border-radius: 5%;
        margin-bottom: 10%;
    }
    
    .forms>textarea{
        width: 25rem;
        font-size: 1.6rem;
        margin: 2rem;
        font-family: var(--para-font);
        padding: 1rem;
    }
}
@media only screen and (max-width: 830px){
    .about-image{
        background:url("./man1-removebg-preview.png");
        background-repeat: no-repeat;
        background-position-x: center;
    }
}
@media only screen and (max-width: 780px){
    .about-heading{
        font-size: 5rem;
        letter-spacing: 4px;
        word-spacing: 10px;
    }
    .about-content{
        display: grid;
        grid-template-columns: 100fr;
        grid-template-rows: 50fr 50fr;
        grid-template-areas: "about-image"
                            "about-innercontent";
    }
    .about-image{
       
        background:url("./guy1-removebg-preview.png");
        background-size: 70% 90%;
        background-repeat: no-repeat;
        background-position-x:center;
    }
    .innercontentHead{
        font-size: 3.7rem;
        letter-spacing: 5px;
        position: relative;
        top: 0%;
    }
    .innerCont{
        /* background: cyan; */
        padding-right: 0rem;
        font-size: 2rem;
        line-height: 1.5;
    }
}
@media only screen and (max-width: 750px){
    .space ul{
        padding-right: 1rem;
    }
    .home-content{
        /* background: seagreen; */
        display: grid;
        grid-template-columns: 100fr;
        grid-template-rows: 20fr 45fr;
       grid-template-areas:"content"
                            "home-form";
    }

    .f1{
        width: 100%;
        height: 100%;
        display: grid;
        flex-flow: column;
        grid-template-rows: 100fr;
        grid-template-areas:"AU";
    }
    .f2{
        width: 100%;
        height: 100%;
    }
    .AU>h1{
        text-align: center;
        font-size: 5rem;
        letter-spacing: 2px;
        padding: 3rem;
    }
    .AU>p{
        font-size: 1.8rem;
        text-align: justify;
        padding: 0rem 3rem 3rem 3rem;
        line-height: 1.8;
        /* margin-bottom: 15rem; */
    }
    .AU>button{
        padding: 0.6rem 2rem;
        margin-left: 3rem;
        font-size: 1.5rem;
        margin-top: 3rem;
        letter-spacing: 5px;
        word-spacing: 2px;
    }
    .AU>button>i{
        font-size: 2rem;
        padding-left :15px;
    }
    .lets>h1{
        font-size: 4.5rem;
        font-family: var(--heading-font);
        margin: 3rem 0rem 3rem 0rem;
    }
    .forms>input{
        width: 50rem;
        font-size: 1.8rem;
        margin: 1rem;
        padding: 1rem;
        font-family: var(--heading-font);
    }
    .forms>textarea{
        width: 50rem;
        font-size: 1.8rem;
        margin: 2rem;
        font-family: var(--heading-font);
        padding: 1rem;
    }
    .send-button{
        font-size: 2rem;
        font-family: var(--para-font);
        border: 2px solid #ffff;
        padding: 0.8rem 12rem;
        margin-top: 2%;
        letter-spacing: 3px;
        cursor: pointer;
        border-radius: 5%;
        margin-bottom: 10%;
    }
   
}

@media only screen and (max-width: 700px){
.space ul{
    padding-right: 1rem;
}

.space ul li a{
    display: none;
}

.ham-burger{
    display: block;
}
.innerCont{
    /* background: cyan; */
    text-align: justify;
    font-size: 1.8rem;
    line-height: 1.5;
}
}



@media only screen and (max-width: 600px){
    .about-heading{
        font-size: 4.5rem;
        letter-spacing: 4px;
        word-spacing: 10px;
    }
    .AU>h1{
        font-size: 3.8rem;
        letter-spacing: 2px;
        padding: 3rem;
    }
}
@media only screen and (max-width: 560px){
    .about-image{
        background:url("./guy1-removebg-preview.png");
        background-size: 80% 100%;
        background-repeat: no-repeat;
        background-position: center; 
    }
    .page-3{
        display: grid;
        position: relative;
        top: 5%;
        grid-template-columns: minmax(min-content, 1100px) ;
        grid-template-rows: 10fr 90fr;
        grid-template-areas:
          " services-head "
          " services ";
    }
}

@media only screen and (max-width: 530px){
    .AU>h1{
        font-size: 3.4rem;
        letter-spacing: 2px;
        padding: 3rem;
    }
    .AU>p{
        font-size: 1.6rem;
    }
    .AU>button{
        padding: 0.5rem 1.6rem;
        margin-left: 3rem;
        font-size: 1.3rem;
        margin-top: 1rem;
        letter-spacing: 2px;
        word-spacing: 0px;
    }
    .AU>button>i{
        font-size: 1.6rem;
        padding-left :15px;
    }
    .lets>h1{
        font-size: 3.4rem;
        margin: 3rem 0rem 3rem 0rem;
        letter-spacing: 3px;
    }
    .forms>input{
        width: 30rem;
        font-size: 1.6rem;
        margin: 1rem;
        padding: 1rem;
        font-family: var(--para-font);
    }
    .send-button{
        font-size: 1.2rem;
        padding: 0.5rem 8rem;
        margin-top: 2%;
        letter-spacing: 3px;
        cursor: pointer;
        border-radius: 5%;
        margin-bottom: 10%;
    }
    
    .forms>textarea{
        width: 30rem;
        font-size: 1.6rem;
        margin: 2rem;
        font-family: var(--para-font);
        padding: 1rem;
    }
    .innerCont{
        /* background: cyan; */
        text-align: justify;
        font-size: 1.6rem;
        line-height: 1.5;
    }
    .innercontentHead{
        font-size: 3.2rem;
        letter-spacing: 5px;
        position: relative;
        top: 0%;
    }
}
@media only screen and (max-width: 500px){
    .innercontentHead{
        font-size: 3.3rem;
        letter-spacing: 3px;
        position: relative;
        top: 0%;
    }
   
    .innerCont{
        /* background: cyan; */
        font-size: 1.5rem;
        line-height: 1.5;
    }
}
@media only screen and (max-width: 480px){
    .about-heading{
        font-size: 4rem;
        letter-spacing: 4px;
        word-spacing: 10px;
    }
}
@media only screen and (max-width: 450px){
    .about-page{
        display: grid;
        grid-template-rows: 10fr 90fr;
        grid-template-areas: "about-heading"
                             "about-content";
        
    }
    .about-image{
     
        background:url("./guy1-removebg-preview.png");


        background-size: 85% 100%;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    
    .innercontentHead>p{
        margin-bottom: 0px;
        
    }
    .about-innercontent{
  
        display: grid;
        grid-template-rows: 40fr 60fr;
        grid-template-areas: "innercontentHead" 
                            "innerCont";
    }
    
   
    .innercontentHead{
      
        font-size: 3rem;
        letter-spacing: 3px;
    }
    .innerCont{
        /* background: cyan; */
        position: relative;
        top: 5%;
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .page-3{
        display: grid;
        position: relative;
        top: 5%;
        grid-template-columns: minmax(min-content, 1100px) ;
        grid-template-rows: 5fr 95fr;
        grid-template-areas:
          " services-head "
          " services ";
    }
    .services-head>p{
        font-size: 4rem;
    }
}
@media only screen and (max-width: 400px){

    .AU>h1{
        font-size: 3rem;
        letter-spacing: 2px;
        padding: 3rem;
    }
    .AU>p{
        font-size: 1.5rem;
    }
    .AU>button{
        padding: 0.5rem 1.5rem;
        margin-left: 3rem;
        font-family: var(--btn-font);
        font-size: 1.3rem;
        margin-top: 1rem;
        letter-spacing: 2px;
        word-spacing: 0px;
    }
    .AU>button>i{
        font-size: 1.6rem;
        padding-left :15px;
    }
    .lets>h1{
        font-size: 3.4rem;
        margin: 3rem 0rem 3rem 0rem;
        letter-spacing: 3px;
    }
    .about-image{
     
        background:url("./guy1-removebg-preview.png");
       

        background-size: 90% 90%;
        background-repeat: no-repeat;
        background-position: center;

        
    }
    .about-heading{
        font-size: 3.5rem;
        letter-spacing: 4px;
        word-spacing: 10px;
    }
   
    .innerCont{
        /* background: cyan; */
        position: relative;
        bottom: 20%;
        font-size: 1.5rem;
        line-height: 1.5;
    }
 
    .footer-distributed .footer-center i{
      
        font-size: 18px;
       
    }
    
    .footer-distributed .footer-center i.fa-envelope{
        font-size: 14px;
      
    }
  
  

}
@media only screen and (max-width: 360px){
   
    .innerCont{
        font-size: 1.4rem;
    }
    .services-head>p{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 340px){
    .AU>h1{
        font-size: 2.8rem;
        letter-spacing: 2px;
        font-family: var(--heading-font);
        padding: 3rem;
    }
    .AU>p{
        font-size: 1.5rem;
    }
    .AU>button{
        padding: 0.5rem 1.8rem;
        margin-left: 3rem;
        font-family: var(--btn-font);
        font-size: 1.3rem;
        margin-top: 1rem;
        letter-spacing: 2px;
        word-spacing: 0px;
    }
    .AU>button>i{
        font-size: 1.6rem;
        padding-left :15px;
    }
    .lets>h1{
        font-size: 3.2rem;
        font-family: var(--heading-font);
        margin: 3rem 0rem 3rem 0rem;
        letter-spacing: 3px;
    }
    .forms>input{
        width: 25rem;
        font-size: 1.6rem;
        margin: 1rem;
        padding: 1rem;
        font-family: var(--para-font);
    }
    .send-button{
        font-size: 1.2rem;
        font-family: var(--para-font);
        padding: 0.5rem 8rem;
        margin-top: 2%;
        letter-spacing: 3px;
        cursor: pointer;
        border-radius: 5%;
        margin-bottom: 10%;
    }
    
    .forms>textarea{
        width: 25rem;
        font-size: 1.6rem;
        margin: 2rem;
        font-family: var(--para-font);
        padding: 1rem;
    }
}

